/* 
COLORS
Yellow = #e7ef86
Black = #131114
Grey = #303344
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(48, 51, 68);
}
a{
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  text-shadow: 5px 3px 7px rgba(31, 32, 43, 1);
}

.calculator{
  border-radius: 15px;
  overflow: hidden;
  width: 320px;
  display: grid;
  box-shadow: 0px 10px 15px -3px rgb(31, 33, 43);
  grid-template-areas: 
    "curr curr curr curr"
    "nums nums nums op"
    "eq eq eq eq";
}

#curCalculate{
  grid-area: curr;
  outline: none;
  border: 0px solid;
  height: 80px;
  letter-spacing: 4px;
  text-align: end;
  font-size: 30px;
  overflow: hidden;
}

.nums input[type=button]{
  border: 0px;
  background-color: #131114;
  width: 80px;
  height: 80px;
  font-size: 30px;
  color: #fff;
  overflow: hidden;
  transition: 200ms all;
}
.nums input[type=button]:hover{
  background-color: #201d22;
}
.nums input[type=button]:active{
  background-color: #19171a;
}

.nums{
  /* object-fit: contain; */
  grid-area: nums;
  display: flex;
  flex-wrap: wrap;
}
.nums input[type=button].n0{
  width: 160px;
}
.eq{
  grid-area: eq;
}

.eq .btneq{
  border: 0px;
  background-color: #f3e66e;
  width: 100%;
  height: 80px;
  font-size: 30px;
  color: #303344;
  transition: 200ms all;
}

.eq .btneq:active{
  background-color: #f7f2c6;
}

.nums input[type=button].op{
  border: 0px;
  background-color: #201d22;
  width: 80px;
  height: 80px;
  font-size: 30px;
  color: #fff;
  overflow: hidden;
  transition: 200ms all;
}
.nums input[type=button].op:hover{
  background-color: #fefcff;
  color: #19171a;
}
.nums input[type=button].op:active{
  background-color: #dfdfdf;
}